<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <script src="https://cdnjs.cloudflare.com/ajax/libs/axios/0.20.0/axios.min.js"></script>
    <script src="https://cdn.jsdelivr.net/npm/vue"></script>
    <link rel="stylesheet" href="css/style.css">
    <title>email list</title>
</head>
<body>
    

    <div id="root">
        <ul>
            <ul v-if='emailArray.length == 10'>
                <li v-for="(mail,index) in emailArray"><h1>{{emailArray[index]}}</h1></li>
            </ul>
        </ul>
    </div>


    <script src="js/script.js"></script>
</body>
</html>